# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

# Logs
logs/
*.log

# IDE files
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
bin/
.vscode/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# OS specific
.DS_Store
Thumbs.db